{% extends "base.html" %} {% block title %}Add a Build{% endblock %} {% block
content %} {% endblock %} {% block addbuild %}
<div class="container">
  <h3>Create your build</h3>
  <div class="row">
    <form class="col s12">
      <h5>Name</h5>
      <div class="row">
        <div class="input-field col s12">
          <input
            placeholder="Enter the name of your build"
            id="name"
            type="text"
            class="validate"
          />
        </div>
        <div class="input-field col l12 s6">
          <h5>Motherboard</h5>
          <select id="motherboard" name="motherboard">
            <option value="" disabled selected>Select Motherboard</option>
            {% for motherboard in motherboard %}
            <option value="{{motherboard.motherboard}}">{{motherboard.motherboard}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Processor</h5>
          <select id="processor" name="processor">
            <option value="" disabled selected>Select Processor</option>
            {% for processor in processor %}
            <option value="{{processor.processor}}">{{processor.processor}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Motherboard</h5>
          <select id="motherboard" name="motherboard">
            <option value="" disabled selected>Select Motherboard</option>
            {% for motherboard in motherboard %}
            <option value="{{motherboard.motherboard}}">{{motherboard.motherboard}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Motherboard</h5>
          <select id="motherboard" name="motherboard">
            <option value="" disabled selected>Select Motherboard</option>
            {% for motherboard in motherboard %}
            <option value="{{motherboard.motherboard}}">{{motherboard.motherboard}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Motherboard</h5>
          <select id="motherboard" name="motherboard">
            <option value="" disabled selected>Select Motherboard</option>
            {% for motherboard in motherboard %}
            <option value="{{motherboard.motherboard}}">{{motherboard.motherboard}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Motherboard</h5>
          <select id="motherboard" name="motherboard">
            <option value="" disabled selected>Select Motherboard</option>
            {% for motherboard in motherboard %}
            <option value="{{motherboard.motherboard}}">{{motherboard.motherboard}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Motherboard</h5>
          <select id="motherboard" name="motherboard">
            <option value="" disabled selected>Select Motherboard</option>
            {% for motherboard in motherboard %}
            <option value="{{motherboard.motherboard}}">{{motherboard.motherboard}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Motherboard</h5>
          <select id="motherboard" name="motherboard">
            <option value="" disabled selected>Select Motherboard</option>
            {% for motherboard in motherboard %}
            <option value="{{motherboard.motherboard}}">{{motherboard.motherboard}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </form>
  </div>
  <a class="red darken-1 waves-effect waves-light btn-large center"
    >Add Build</a>
</div>

{% endblock %}