{% extends "base.html" %} {% block title %}Add a Build{% endblock %} {% block
content %} {% endblock %} {% block addbuild %}
<div class="container">
  <h3>Create your build</h3>
  <div class="row">
    <form class="col s12">
      <h5>Name</h5>
      <div class="row">
        <div class="input-field col s12">
          <input
            placeholder="Enter the name of your build"
            id="name"
            type="text"
            class="validate"
          />
        </div>
        <div class="input-field col l12 s6">
          <h5>Motherboard</h5>
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Processor</h5>
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Processor Cooler</h5>
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Memory</h5>
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Graphics Card</h5>
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Hard Drive</h5>
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Power Supply</h5>
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col l12 s6">
          <h5>Case</h5>
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <a class="red darken-1 waves-effect waves-light btn-large center"
    >Add Build</a>
</div>

{% endblock %}
