{% extends "base.html" %}
{% block title %}Seach by Motherboard{% endblock %}
{% block searchmotherboard %}
<div class="container">
<div class="row">
	<h3>Search build by Motherboard</h3>
    <form action="{{url_for('search_build')}}" method="POST">
	<div class="input-field col s12">
		<select id="search_build" type="search" placeholder="Search" name="search_build">
            <option value="" disabled selected>Select Motherboard</option>
            {% for motherboard in motherboards %}
            <option value="{{motherboard.motherboard}}">{{motherboard.motherboard}}</option>
            {% endfor %}
          </select>
		<button class="red darken-1 btn waves-effect waves-light" type="submit" name="action">Search
    <i class="material-icons right">search</i>
  </button>
	</div>
	{% endblock %}